@font-face {
    font-family: font2;
    src: url(BTTF.ttf);
}


table {
    border-collapse: collapse;
    margin: 15px 0;
}

body {
    background-color: black;
    color: lightgrey;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

/*.jumbotron{*/
/*    background-image: url("https://youtu.be/rlTY1hDlXu0");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/

/*}*/

#video-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    width: 100%;
}

.jumbotron {
    position: relative;
    overflow: hidden;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.center-text {
    display: flex;
    position: center;
    justify-content: center;
}

.ninjacardstyle {

    background-color: black;
    color: orangered;

}



